@media screen and (min-width: 500px) {
    .conteiner {
        width: 90%;
    }
    
}

@media screen and (min-width: 768px) {
    .conteiner {
        width: 70%;
    }
    
}

@media screen and (min-width: 1100px) {
    .conteiner {
        width: 30%;
    }
    
}

